<h1> About me</h1>

<p>Hello! I'm Tracy, a student at BCIT studying in the Software Systems Developer program. My journey into the world of programming started back in high school when I discovered Tumblr. I was fascinated by the ability to create custom themes using HTML and CSS. Last year, I reignited my passion for coding, inspired by the talented peers around me. I'm excited to continue learning and growing in this ever-evolving field! When I'm not on my computer, you can find me exploring scenic hikes, discovering new food spots with my friends, or hitting the gym. I love staying active and finding new adventures to embark on during my free time!
</p>

