<article>
  <header>
    <button type="button" (click)="goBack()">Back</button>
    <a *ngIf="project.githubUrl" [href]="project.githubUrl" target="_blank" class="github-button">
      View GitHub Repo
    </a>
  </header>
  <section class="project-card">
    <h2>{{ project.title | uppercase }}</h2>
    <div class="project-details">
      <!-- <div>{{ project.excerpt }}</div> -->
      <div [innerHTML]="project.body">{{ project.body }}</div>
    </div>
    <div class="image-slider">
      <img
        *ngFor="let image of project.images; let i = index"
        [src]="'assets/images/' + image"
        [class.active]="i === currentImageIndex"
        alt="Image {{i + 1}} of {{ project.title }}"
      />
      <div class="dots">
        <span *ngFor="let image of project.images; let i = index" [class.active]="i === currentImageIndex"></span>
      </div>
      <button class="prev" (click)="changeImage(-1)">&#10094;</button>
      <button class="next" (click)="changeImage(1)">&#10095;</button>
    </div>
    
    
    <section *ngIf="project.snippets.length" class="snippets-section">
      <h3>Code Snippets</h3>
      <ul>
        <li *ngFor="let snippet of project.snippets">{{ snippet }}</li>
      </ul>
    </section>
  </section>
  <footer>
    <div *ngIf="project.category">
      Category: <span>{{ project.category.name }}</span>
    </div>
    <div *ngIf="project.tags.length">
      Tags:
      <span *ngFor="let tag of project.tags">
        {{ tag.name }}
      </span>
    </div>
  </footer>
</article>
