article {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Reduced margin and centered the article */
  padding: 30px;
  width: 80%; /* Adjust this value as needed */
  max-width: 960px; /* Maximum width, adjust as needed */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f0f0f0;
  padding-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
      background-color: #45a049;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 10px;
}

.project-card div {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0 0 20px;
  color: #333333;
  font-size: 30px;
}

.project-card div > div {
  margin-bottom: 20px;
  color: #666666;
  line-height: 1.8;
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 3px solid #f0f0f0;
}

footer div span {
  font-weight: bold;
  color: #4CAF50;
  font-size: 18px;
}

.github-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  text-decoration: none; /* Remove underline from anchor */
}

.github-button:hover {
  background-color: #222;
}

.snippets-section {
  margin-top: 30px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;

  h3 {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      background-color: #e8e8e8;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 5px;
    }
  }
}


@media (min-width: 768px) {
  .project-card {
      flex-direction: column; /* Ensure image is above text */
      align-items: center;

      img {
          width: 100%; /* Set width to auto-adjust */
          height: 500px; /* Set fixed height for image */
          margin-bottom: 20px; /* Ensure space between image and text */
      }
  }

  footer {
      flex-direction: row;
      align-items: center;
  }
}
