@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Article Styles */
article {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  max-width: 960px;
  animation: slideInFromLeft 1.5s ease-out forwards;
}

/* Header Styles */
header {
  flex-direction: row; /* Keep icons on the same line */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
  width: 100%; /* Ensure header takes full width */
}

.back-icon {
  cursor: pointer;
  font-size: 20px;
  color: #6b6b6b;
}

.github-icon{
  cursor: pointer;
  font-size: 30px;
  color: #6b6b6b;
}

.back-icon:hover, .github-icon:hover {
  transform: translateY(-2px);
}

/* Project Card Styles */
.project-card {
  margin-top: 20px;
}

h2 {
  margin: 0;
  color: #266a6e;
  font-size: 24px;
  font-weight: bold;
}

.project-details div {
  color: #666666;
  line-height: 1.6;
  font-size: 16px;
}

/* Image Slider Styles */
.image-slider {
  position: relative;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  display: none;
  transition: opacity 0.5s ease;
}

.image-slider img.active {
  display: block;
}

.image-slider .prev, .image-slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(204, 204, 204, 0.6);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 0 3px 3px 0;
}

.image-slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.image-slider .dots span {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.image-slider .dots span.active {
  background-color: #797979;
}

/* Footer Styles */
footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #f0f0f0;
}

footer div span {
  font-weight: bold;
  color: #4aa5b8;
  font-size: 14px;
}

footer .tag-divider {
  color: rgba(175, 175, 175, 0.61);
}

/* Code Snippets Section */
.snippets-section {
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
}

.snippets-section h3 {
  margin-bottom: 10px;
}

.snippets-section ul {
  list-style-type: none;
  padding-left: 0;
}

.snippets-section ul li {
  background-color: #e8e8e8;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .project-card img {
    height: auto;
  }

  h2 {
    font-size: 22px;
  }

  .project-details div {
    font-size: 15px;
  }

  footer div span {
    font-size: 13px;
  }
  
}