/* Base styles */
.container {
    display: flex; 
    flex-direction: column; /* Stack content and image vertically on smaller screens */
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.content {
    flex: 1;
    text-align: center; /* Center text on smaller screens */
    animation: slideInFromRight 1.5s ease-out forwards;
}

.image-container {
    flex: 0 0 300px; 
    padding: 20px; /* Add some padding around the image */
    animation: slideInFromRight 1.5s ease-out forwards;
}

img {
    width: 100%; 
    height: auto; 
}

h1, h2, h3, p {
    margin-left: 20px; 
    margin-right: 20px; 
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #1c494c; 
    font-size: 40px; /* Reduce font size for smaller screens */
    ;
}

h2, h3 {
    font-size: 30px; /* Reduce font size for smaller screens */
}

h2{
    color: #73CADC
}

p {
    color: #666; 
    font-size: 1em; /* Reduce font size for smaller screens */
    line-height: 1.5; 
    text-align: justify;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.software-developer {
    font-style: italic;
    text-align: center;
}

/* Media query for desktop screens */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Display content and image side by side */
    }

    .content {
        text-align: left;
    }

    h1, h2, h3, p {
        margin-left: 100px; 
        margin-right: 100px; 
    }

    h1 {
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2, h3 {
        font-size: 35px;
    }

    p {
        font-size: 1.2em;
    }
    .software-developer {
        text-align: left;
    }
}
