<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="content">
            <h3>Hi, my name is</h3>
            <h1>Tracy Huang.</h1>
            <h2>I build things for the web.</h2>
            <p class="software-developer">JUNIOR SOFTWARE DEVELOPER</p>
        </div>
        <div class="image-container">
            <img src="../../../assets/images/portrait.png" alt="Tracy Huang">
        </div>
    </div>
</body>
</html>

<br/><br/>
<br/>
<br/>
<br/>

