@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif;
}


#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

article {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
      transform: translateY(-5px);
  }

  &.hidden {
      display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.project-card {
  display: flex;
  flex-direction: column; /* Stack image and text vertically on smaller screens */
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  animation: fadeIn 1s ease-out; 

  img {
      width: 100%; /* Adjust image width for smaller screens */
      height: auto; /* Adjust image height for smaller screens */
      object-fit: cover;
      margin-bottom: 20px; /* Add margin below the image */
      border-radius: 4px;
  }

  h2 {
      margin: 0 0 10px;
      color: #266a6e;
  }

  .excerpt-p {
      margin-top: 25px;
      color: #8b8b8b;
      font-size: 15px;
      line-height: 1.5;
  }
}

footer {
  background: #eaeaea;
  padding: 10px 20px;
  display: flex;
  flex-direction: column; 
  gap: 10px;

  div {
      a {
          color: #4aa5b8;
          font-weight: bold;
          &:hover {
            color: #4aa6b8b6;
          }
      }

      span {
          cursor: pointer;
          color: #e48657;
          font-weight: bold;
          &:hover {
            color: #e48657af;
          }
          .tag-divider {
            color: rgba(175, 175, 175, 0.61);
          }
      }
  }
}

/* Media query for desktop screens */
@media (min-width: 768px) {
  .project-card {
      flex-direction: row; /* Display image and text side by side */
      align-items: center;

      img {
          width: 250px; 
          height: 200px; 
          margin-right: 20px; 
          margin-bottom: 0; 
      }
  }

  footer {
      flex-direction: row; /* Display elements in a row */
      justify-content: space-between;
      align-items: center;
  }
}
