@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    li {
      margin: 0 1rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        &.active {
          color: #3689B7;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  min-width: 460px;
  width: 100%;
  #projects,
  #project {
    width: 100%;
  }
}

.title-home{
  color: #DC9473;
  font-family: 'Montserrat', sans-serif;
}

/* Media query for desktop screens */
@media (min-width: 768px) {
  main {
    flex-direction: row; 
    align-items: flex-start; 
  }
}

app-projects,
app-project {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

footer {
  color: rgb(185, 185, 185);
  font-size: 0.8rem;
  padding-right: 1rem;
  align-self: center;
  margin-top: 50px;
}
