:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 1rem;
  margin: 15px;
  width: 96%;
}

.brand {
  flex: 1; /* Allow the brand to take up remaining space */
}

nav {
  display: flex; /* Display the navigation links as a flex container */
  gap: 1rem; /* Add some space between the links */
  margin-left: auto; /* Push the links to the right */
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  margin-left: auto; 
}


main {
  display: flex;
  flex: 1;
}

#side-nav {
  margin-left: 1rem; /* Change margin-right to margin-left */
  text-align: right;
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem;
  align-self: flex-start;
  width: 10rem;
  div {
    cursor: pointer;

    &.active {
      background-color: #ccc;
    }
  }
}

#side-nav.hidden {
  display: none;
}


// router-outlet {
//   flex: 1;
//   padding: 1rem;
// }

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid #e7e7e7;
}
